@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-weight: 300;
}

:root {
--color-orange: #087f5b;
--color-white: #000000;
--color-black: #000;
--background: #ffffff;
--color: #087f5b;
--white: #fff;
--ping: #087f5b;;
}

body {
background-color: var(--background);
font-family: "Poppins", sans-serif;
height: 88vh;
}

/* Decoracion letra */
.infoPrincipal .textOrange {
text-align: center;
font-size: 3em;
}

.infoPrincipal .textWhite {
font-size: 2em;
text-align: justify;
}

.textOrange {
color: var(--color-orange);
}

.textWhite {
color: var(--color-white);
}

.textBlack {
color: var(--color-black);
}

/* Nav */
.contenedorNav {
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--background);
padding: 0 10px;
}

.contenedorMain {
display: flex;
flex-direction: column;
height: 100%;
}

/* Parte uno */
.contenedorPrincipal {
display: flex;
width: 100%;
height: 80%;
}

.infoPrincipal {
display: flex;
align-items: center;
justify-content: center;
margin: 10px;
width: 50%;
}



.imgPrincipal {
margin: 10px;
width: 50%;
border: 1px solid #b2f2bb;
background-color: #0083118c;
border-radius: 30px;
}

.imgStart {
display: flex;
width: 100%;
height: 100%;
}

.imgOne {
display: flex;
align-items: center;
justify-content: center;
width: 100vw;
}

.imgTwo {
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
}

.contenedorSecundario {
height: 25%;
}

.subContenedorSec {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
margin: 10px;
height: 100%;
}

.subContenedorSec img {
cursor: pointer;
}

.imgTwo img {
cursor: pointer;
}

.navMenu ul,
li,
a {
display: flex;
gap: 15px;
list-style: none;
text-decoration: none;
color: var(--color-white);
}

a:hover {
color: var(--color-orange);
}

.navTrigger{
    display: none;
}

/* MQ */
@media (max-width: 900px) {
.contenedorNav {
    display: grid;
    justify-content: inherit;
}
.contenedorPrincipal {
    text-align: center;
}

.infoPrincipal .textOrange {
    text-align: center;
    font-size: 40px;
}
    
.infoPrincipal .textWhite {
font-size: 20px;
text-align: justify;
}

.imgOne img{
    width: 300px;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navTrigger {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
    width: 36px;
    height: 36px;
    background: none;
    border: 0;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-appearence: none;
    -webkit-tap-highlight-color: transparent;
    &:focus {
    outline: none;
    }
    svg {
    width: 64px;
    height: 48px;
    top: -6px;
    left: -14px;
    stroke: var(--color);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    position: absolute;
    path {
        transition: stroke-dasharray var(--duration, .85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, .85s) var(--easing, ease) var(--delay, 0s);
        stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
        stroke-dashoffset: var(--offset, 126px);
        transform: translateZ(0);
        &:nth-child(2) {
        --duration: .7s;
        --easing: ease-in;
        --offset: 100px;
        --array-2: 74px;
        }
        &:nth-child(3) {
        --offset: 133px;
        --array-2: 107px;
        }
    }
    }
    &.active {
    svg {
        stroke: var(--white);
        path {
        --offset: 57px;
        &:nth-child(1),
        &:nth-child(3) {
            --delay: .15s;
            --easing: cubic-bezier(.2, .4, .2, 1.1);
        }
        &:nth-child(2) {
            --duration: .4s;
            --offset: 2px;
            --array-1: 1px;
        }
        &:nth-child(3) {
            --offset: 58px;
        }
        }
    }
    }
    }
    
    .navMenu {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        background: #FFF;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all .375s;
        &.active {
        opacity: 1;
        z-index: 100;
        visibility: visible;
        &::before {
            transform: skew(-14deg) translateX(0);
        }
        li {
            opacity: 1;
            transform: translateY(0);
        }
    }
        &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -15px;
        background: #087f5b;
        transform-origin: 0 0;
        transform: skew(-14deg) translateX(-120%);
        transition: all .275s .1s;
        }
        ul {
        list-style: none;
        padding: 0;
        display: inline-flex;
        flex-direction: column;
        height: 93%; /* Should be 100%, but we have a notice message :D */
        align-items: flex-end;
        justify-content: center;
        transform: translateX(-18%) skew(-16deg);
        li {
            display: block;
            margin: .5rem 0;
            text-align: right;
            opacity: 0;
            transform: translateY(-10px);
            a {
            position: relative;
            left: 0;
            display: block;
            padding: 12px 0;
            color: var(--white);
            font-size: 1.4em;
            text-decoration: none;
            transform: skew(16deg);
            transition: .25s;
            &:hover {
                left: 10px;
            }
            }
            &:nth-child(1) {
            transition: all 275ms 275ms;
            }
            &:nth-child(2) {
            transition: all 275ms 325ms;
            }
            &:nth-child(3) {
            transition: all 275ms 375ms;
            }
            &:nth-child(4) {
            transition: all 275ms 425ms;
            }
            &:nth-child(5) {
            transition: all 275ms 475ms;
            }
        }
        }
    }
    
}
